$orange: #ff6464;
$blue-l: #00a8cc;
$text: #21243d;
$light: #8695a4;

@mixin f500 {
    font-weight: 500;
    font-size: 1.25rem;
}

@mixin h1 {
    font-weight: 700;
    font-size: 2.75rem;
    text-align: left;
}
@mixin h2 {
    font-weight: 700;
    font-size: 1.87rem;
    text-align: left;
}

@mixin h3 {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;
}

@mixin section-name {
    font-size: 1.37rem;
    margin-bottom: 22px;
}

@mixin year {
    border-radius: 16px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0 10px 0 15px;
    height: 25px;
}
