@import "_fonts.scss";
@import "_vars.scss";
@import "_global.scss";

.header {
    padding: 27px 60px;
    &__ul {
        display: flex;
        justify-content: flex-end;
        @include f500;
        li {
            a {
                padding: 15px;
            }
        }
    }
}
.content {
    .about {
        padding: 150px 0 75px;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .about-me {
                &__title {
                    @include h1;
                    max-width: 445px;
                }
                p {
                    max-width: 500px;
                    margin-bottom: 38px;
                }
                button {
                    background-color: $orange;
                    border-radius: 2px;
                    cursor: pointer;
                    @include f500;
                    padding: 15px 20px;
                }
            }
            .about-img {
                border-radius: 50%;
                position: relative;
                .about-img__circle {
                    position: absolute;
                    z-index: -1;
                    transform: translate(-5px, 13px);
                    width: 100%;
                    height: 100%;
                    max-height: 243px;
                    background-color: #edf7fa;
                    border-radius: 50%;
                }
                img {
                    border-radius: 50%;
                }
            }
        }
    }

    .posts {
        padding: 27px 0 32px;
        background-color: #edf7fa;
        &-name {
            @include section-name;
            display: flex;
            justify-content: space-between;
        }
        &-links {
            font-size: 1rem;
            color: $blue-l;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            .posts-item {
                background-color: #fff;
                border-radius: 4px;
                padding: 4px 23px 24px 21px;
                max-width: 418px;
                &__title {
                    @include h2;
                    font-size: 1.6rem;
                }
                span {
                    font-size: 1.1rem;
                }
                &__date {
                    margin-right: 25px;
                }
                &__topic {
                    margin-left: 20px;
                }
                &__text {
                    margin-top: 15px;
                }
            }
        }
        &.blog {
            background-color: #fff;
            .blog__inner {
                max-width: 704px;
                margin: 0 auto;
            }
            .posts-name {
                @include h1;
            }
            .posts-items {
                flex-direction: column;
                .posts-item {
                    max-width: none;
                    padding: 4px 23px 30px 0px;
                    border-bottom: 1px solid #e0e0e0;
                    &__topic {
                        color: $light;
                    }
                }
            }
        }
    }
    .works {
        padding: 50px 0;
        &-name {
            @include section-name;
        }
        &__items {
            .works-item {
                display: flex;
                align-items: center;
                padding-bottom: 15px;
                margin-bottom: 30px;
                border-bottom: 1px solid #e0e0e0;
                &__img {
                    img {
                    }
                }
                &__info {
                    margin-left: 18px;
                    max-height: 180px;
                    &-title {
                        margin-top: 0;
                        @include h2;
                    }
                    &-year {
                        @include year;
                        background-color: #142850;
                        margin-right: 25px;
                    }
                    &-topic {
                        font-size: 1.25rem;
                        color: $light;
                    }
                    &-text {
                        margin-top: 22px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }

        &.page {
            .page__inner {
                max-width: 730px;
                .works__items {
                    .works-item {
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }

    /////////////////////////                   Start Work Detail

    .works-detail {
        &__inner {
            max-width: 700px;
            margin: 0 auto;
            .detail-name {
                @include h1;
                max-width: 500px;
                font-size: 2.1rem;
            }
            .detail-date {
                @include year;
                background-color: $orange;
                padding: 0 10px 0 10px;
                margin-right: 17px;
            }
            .detail-topic {
                font-size: 1.25rem;
            }
            .detail-text {
                margin-top: 25px;
                margin-bottom: 45px;
                max-width: 681px;
            }
            .detail-img {
                margin-bottom: 54px;
                width: 100%;
                &_2 {
                    margin-bottom: 27px;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                }
                &_3 {
                }
                img {
                    
                }
            }
            .detail-title {
                @include h2;
                font-weight: 500;
            }
            .detail-subtitle {
                @include h3;
            }
        }
    }

    /////////////////////////                   End Work Detail
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 54px;
    &__social {
        display: flex;
        margin-bottom: 26px;
        li {
            margin-left: 12px;
            margin-right: 12px;
            a {
                padding: 10px 10px;
                object {
                    pointer-events: none;
                }
            }
        }
    }
    &__copyright {
        text-align: center;
    }
}

@import "_media.scss";
